@page "/logout"
@inherits LogoutPage
@layout HeadlessLayout

<PageTitle>Dima - Sair</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="8" md="6" lg="4">
        <MudPaper Class="pa-8 mud-elevation-4" Style="border-radius: 16px;">
            <div class="d-flex flex-column align-center text-center">
                <img src="img/dima.png" alt="Dima" width="160" class="mb-8" />
                
                <div class="pa-4 mb-4 rounded-circle" style="background-color: var(--mud-palette-primary-hover);">
                    <MudIcon Icon="@Icons.Material.Filled.Logout" Color="Color.Primary" Style="font-size: 3rem;" />
                </div>
                
                <MudText Typo="Typo.h4" GutterBottom="true" Style="font-weight: 700;">
                    Até logo!
                </MudText>
                
                <MudText Typo="Typo.body1" Class="mb-10" Color="Color.Secondary">
                    Sua sessão foi encerrada com segurança. <br />
                    Esperamos seu retorno para mais um controle financeiro de sucesso.
                </MudText>

                <MudButton 
                    Variant="Variant.Filled" 
                    Color="Color.Primary" 
                    Size="Size.Large" 
                    FullWidth="true" 
                    Href="/login"
                    Style="border-radius: 12px; font-weight: 600; padding: 12px 0;">
                    IR PARA TELA DE LOGIN
                </MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>